<md-sidenav-container class="demo-root" fullscreen>
  <div>
    <md-sidenav #start  class="sidenav-wrapper">
      <md-nav-list>
        <a *ngFor="let navItem of navItems"
        md-list-item
        (click)="start.close()"
        >
        {{navItem.name}}
      </a>

      <hr>

      <a md-list-item
      (click)="start.close()"
      >
      Baseline
    </a>
  </md-nav-list>
  <button md-button (click)="start.close()">CLOSE</button>
</md-sidenav>  
</div>

<div>
  <md-toolbar color="primary">
    <button md-icon-button (click)="start.open()">
      <md-icon class="md-24" >Click</md-icon>
    </button>
    <div class="demo-toolbar">
      <h1>Angular Material Procurement</h1>
    </div>
  </md-toolbar>


</div>
</md-sidenav-container>
