.sidenav-wrapper{
	background: #000000;
  margin-top: 65px;
	a{
		color: #FFFFFF;
    padding: 16px 0px;
		 &:hover {
        background: #88B04B;
    }
    &.active{
      background: #88B04B;
    }
	}
  .md-nav-list{
    padding:0px ;
  }  
}


.mat-sidenav-backdrop{
  visibility: hidden !important;
}

.sidenav-icon{

  text-align: center;
}

.icon-employee{
  &:before {
    content: "\e036";
  }
}

.icon-family-care{
  &:before {
    content: "\e064";
  }
}

.icon-home{
  &:before {
    content: "\e070";
  }
}
.nav-list-wrapper{
  .mat-list-item-content{
    height:100% !important;
  }
}



